<% include ./partials/header %>

  <div class="container chatroom">
    <div id="userFormArea" class="row">
      <div class="col-md-12">
        <form id="userForm">
            <div class="form-group">
              <label>Enter Username</label>
              <input class="form-control" id="username"></input>
              </br>
              <input type="submit" class="btn btn-primary" value="Login">
            </div>
          </form>
      </div>
    </div>

    <div id="messageArea" class="row">

      <div class="col-md-4">
        <div class="well">
          <h3>Online Users</h3>
          <ul class="list-group" id="users"></ul>
        </div>
      </div>

      <div class="col-md-8">
        <div class="chat" id="chat">
          <form id="messageForm">
            <div class="form-group">
              <label>Enter Messages</label>
              <textarea class="form-control" id="message"></textarea>
              </br>
              <input type="submit" class="btn btn-primary" value="Send Message">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <!-- message.js appears to mess with the user/campground ids so we import that only for chatroom.ejs -->

        </div> <!-- ./container -->

        <!-- jQuery CDN -->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>

        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Autosize Text -->
        <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
        <script type="text/javascript">
          autosize(document.getElementById("text-area-comment"));
          autosize(document.getElementById("text-area-edit"));
          autosize(document.getElementById("description"));
        </script>

        <!-- Show More/Less -->
        <script type="text/javascript" src="https://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            $(".user-comment-space").shorten({
              "showChars": 200
            });
            $(".campground-text").shorten({
              "showChars": 300
            });
          });
        </script>

        <!-- Import Socket.io Functions -->
        <script type="text/javascript" src="messages.js"></script>

    </body>
</html>
